@charset "UTF-8";

body {color: #000040;
	background-color: #CCCCCC;
	font-family: 'Scope One', 'Hiragino Sans', 'Yu Gothic', serif;
	font-size: 1.1em;
	margin: 0 20px}
p {color: #000060}
.paper {font-style: italic}
.talk {font-style: italic; color: #000099}
